# Server Environment Configuration
PORT=5000
DATABASE_URL="file:./dev.db"
JWT_SECRET="antigravity_secret_key_12345"

# Optional SMTP Email Service Credentials
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT=587
SMTP_USER="ethereal.user@ethereal.email"
SMTP_PASS="ethereal_pass"
